VITE_BASE_API_URL="http://localhost:3000"

# ONLY used in mode === 'production'
# REMOVE from env.development.local
VITE_CERT_PATH="./cert/xxx.crt"
VITE_KEY_PATH="./cert/xxx.key"


VITE_PREFECT_DASHBOARD_URL="http://127.0.0.1:4200/dashboard"